.sidebar {
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--sidebar-background);
    border-right: 1px solid var(--border);
}

.sidebarHeader {
    height: 64px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin: 0;
}

.sidebarTitle {
    margin: 0;
    font-size: 20px;
    font-weight: 650;
}

.sidebarSearch {
    padding: 0 16px;
}

.previewContainer {
    flex: 1;
    overflow-y: auto;
    padding: 16px 4px;
}
