.sendButton {
    width: 32px;
    height: 32px;
    background: var(--send-button-background);
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    display: flex;
}

.sendButton:hover {
    background-color: var(--send-button-hover);
}

.sendButton:active {
    background-color: var(--send-button-active);
}

.sendButton:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-2);
}
